{% extends 'templates/app.twig' %}

{% block content %}
{% if not auth.isLoggedIn %}
  <script type="text/javascript">
  // redirect back to home if user is signed in
    window.location = "/phpauth/public" ;
  </script>
{% endif %}
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-default">
        <div class="panel-heading">Change password</div>
        <div class="panel-body">

          <!-- takes us to the post path for signup -->
          <form action="{{ path_for('auth.changepassword')}}" method="post" autocomplete="off">
            <!-- if there are any errors in each catogery -->
            <div class="form-group{{ errors.passwordOld ? ' has-error' : ''}}">
              <label for="passwordOld">Current password</label>
              <input type="password" name="passwordOld" id="passwordOld" class="form-control">
              {% if errors.passwordOld %}
              <span class="help-block">{{ errors.passwordOld | first }}</span>
              {% endif %}
            </div>

            <div class="form-group{{ errors.password ? ' has-error' : ''}}">
              <label for="password">New password</label>
              <input type="password" name="password" id="password" class="form-control">
              {% if errors.password %}
              <span class="help-block">{{ errors.password | first }}</span>
              {% endif %}
            </div>
            <button type="submit" class="btn btn-default">Change password</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
