{% extends 'templates/app.twig' %}

{% block content %}
<div class="headerImage">
  <img src="{{User.banner}}" alt="Your banner" class="masthead">
</div>
{% include 'templates/flash.twig'  %}
  <div class="container content afterBanner" id="home">
    <div class="row" id="countersAndButtons">
      <div class="middle">
        {% include 'templates/flash.twig'  %}
        <a href="{{ path_for('yells', { 'name': User.name}) }}"><button id="yellCounter" class="btn btn-default"type="button" name="button"><strong>YELLS</strong><br>{{ UserPosts }}</button></a>
        <a href="{{ path_for('followings', { 'name': User.name}) }}"><button class="btn btn-default"type="button" name="button"><strong>FOLLOWING</strong><br>{{ Followings|length }}</button></a>
        <a href=""><button class="btn btn-primary"type="button" name="button"><strong>FOLLOWERS</strong><br>{{ Followers|length }}</button></a>

        {% if sessionId == User.id %}
        <a href="{{path_for('updateProfile')}}"><button id="followerCounter" class="btn btn-default"type="button" name="button"><strong>Edit profile</strong><br><br></button></a>
        {% endif %}
        <span id="followPersonButton">
          {% if sessionId != User.id and isFollowing == 0 %}
          <form class="followPerson" action="{{ path_for('follow', { 'name': User.name }) }}" method="post">
           <button class="btn btn-default"type="submit" name="button"><strong>Follow</strong><br>+</button>

          </form>
          {% else %}
          {% if sessionId != User.id %}
          <form class="unFollowPerson" action="{{ path_for('unfollow', { 'name': User.name }) }}" method="post">
            <button class="btn btn-info"type="submit" name="button"><strong>Following</strong><br>-</button>

          </form>
          {% endif %}
          {% endif %}
        </span>
      </div>
      <br>
      <br>
    </div>
    <div class="row" id="follows">
      <div class="col-md-3 userBox">
        <img class="square" src="{{ User.avatar }}" alt="Avatar" />
        <a href="{{ path_for('profile', { 'name': User.name }) }}"><h2><strong>{{ User.name }}</strong></h2></a>
        <p>
          {{ User.about }}
        </p>
      </div>
      <div class="col-md-6">
          <h3 class="middle"><strong>Followers</strong></h3>
          <hr>
        {% for Follower in Followers %}
        <div class="yellBox">
          <div class="col-sm-2">
            <img class="square yellBoxImage" src="{{ Follower.avatar}}" alt="Avatar" />
          </div>
          <div class="yellBody col-sm-10">
            <a href="{{ path_for('profile', { 'name': Follower.name}) }}"><h4><strong>{{ Follower.name }}</a></strong><span class="yellDate"> - Following {% if User.id == session.user %}you{% else %}{{ User.name }}{% endif %} since {{Follower.followingSince}} </span></h4>
            <p>
              {{ Follower.about }}
            </p>
            </form>
          </div>
        </div>
    {% endfor %}
   </div>

  </div>
{% endblock %}
